mitix-spring/src/main/resources/base/exp3/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.honglvhang.com/schema/user"
	xmlns:tns="http://www.honglvhang.com/schema/user">
	<element name="user">
		<complexType>
			<attribute name="id" type="string"></attribute>
			<attribute name="acname" type="string"></attribute>
			<attribute name="email" type="string"></attribute>
		</complexType>
	</element>
</schema>